:root{
    --colorBordes: rgb(0, 0, 0);
    --colorRed: rgb(251, 200, 200);
    --colorBlue: rgb(200, 200, 255);
    --colorGreen: rgb(200, 255, 200);
    --colorYellow: rgb(255, 255, 200);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & #box{
        width: 80%;
        max-width: 80vh;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 100%;
        position: relative;
        & .color{
            position: absolute;
            width: 50%;
            aspect-ratio: 1/1;
            /* border: 1.5vw solid var(--colorBordes); */
            /* box-shadow: inset 0 0 2vw rgb(0, 0, 0);
            box-shadow: inset 0 0 7vw rgba(0, 0, 0, 0.927); */
        }
        & #green{
            background-color: var(--colorGreen);
            border-radius: 100% 0 0 0;
            top: 0;
            left: 0;
            /* border-top: 3vw solid var(--colorBordes);
            border-left: 3vw solid var(--colorBordes); */
        }
        & #red{
            background-color: var(--colorRed);
            border-radius: 0 100% 0 0;
            top: 0;
            right: 0;
            /* border-top: 3vw solid var(--colorBordes);
            border-right: 3vw solid var(--colorBordes); */
        }
        & #blue{
            background-color: var(--colorBlue);
            border-radius: 0 0 100% 0;
            bottom: 0;
            right: 0;
            /* border-bottom: 3vw solid var(--colorBordes);
            border-right: 3vw solid var(--colorBordes); */
        }
        & #yellow{
            background-color: var(--colorYellow);
            border-radius: 0 0 0 100%;
            bottom: 0;
            left: 0;
            /* border-bottom: 3vw solid var(--colorBordes);
            border-left: 3vw solid var(--colorBordes); */
        }
        & #simon{
            width: 50%;
            aspect-ratio: 1/1;
            border-radius: 100%;
            color: rgb(57, 57, 57);
            display: flex;
            background-color: white;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 4rem;
            position: absolute;
            top: 25%;
            left: 25%;
            z-index: 1;
            &:active{
                background-color: gray;
            }
        }
    }
    & #lose{
        width: 100%;
        max-width: 100vh;
        aspect-ratio: 1/1;
        background-color: white;
        opacity: 0.8;
        color: black;
        border-radius: 100%;
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-size: 10vw;
        text-align: center;
    }
}

.glow{
    filter: saturate(500);
}

@media (max-width: 900px){
body{
    #box{
        width: 90%;
        max-width: 90vh;
        aspect-ratio: 1/1;
        background-color: red;
        border-radius: 80%;
        position: relative;
        #simon{
            width: 40%;
            font-size: 1.5rem;
            top: 30%;
            left: 30%;
        }
    }
}
}