*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: white;
    & #cr{
        position: fixed;
        top: 0;
        font-weight: lighter;
        font-family: Helvetica, sans-serif;
    }
    & #jugador{
        font-weight: bold;
        font-size: 1.5rem;
    }
    & #caption{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1vw;
        & #jugador{
            font-family: "Quicksand", sans-serif;
            font-weight: bold;
            font-style: normal;
        }
    }
    & #tableroBox{
        width: 80%;
        max-width: 80vh;
        aspect-ratio: 1/1;
        border-radius: 2%;
        display: flex;
        padding: 3vw;
        background-color: gray;
        & #tablero{
            width: 100%;
            aspect-ratio: 1/1;
            background-color: white;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 3px;
            justify-content: center;
            align-items: center;

            & >div{
                width: 100%;
                aspect-ratio: 1/1 ;
                background-color: gray;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10vh;
                font-family: "Quicksand", sans-serif;  
                font-weight: BOLD;
                font-style: normal;
            }
        }
    }
    & #anuncioBox{
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: none;
            font-size: 10vh;
            font-family: "Quicksand", sans-serif;  
            font-weight: BOLD;
            font-style: normal;
            & >p:not(#anuncio){
                font-size: 5vh;
                font-weight: lighter;
            }
        }
}