.project .project-menu{
  position: absolute;
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  justify-content: space-between;

  & .project-menu-container-btn{
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    pointer-events: none;
    & button{
      border-style: none;
      background: none;
      color: black;
      margin-top: .5rem;
      pointer-events: auto;
      cursor: pointer;
      font-weight: 300;
      letter-spacing: 2px;
    }

  }
}
