.project{
  width: var(--app-width);
  height: var(--app-height);
  transform-style: preserve-3d;
  pointer-events: auto;
  position: absolute;
  cursor: pointer;
  background-color: white;
}

.project--empty{
  cursor: none;
  pointer-events: none;
}

.project-miniature{
  width: var(--app-width);
  height: var(--app-height);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.miniature-hidden{
  visibility: hidden;
}

.miniature-appear{
  animation: appear var(--time) ease;
}

.miniature-disappear{
  animation: disappear var(--time) forwards;
}

@keyframes disappear {
  from { 
    opacity: 1;
    visibility: visible; }
  to { 
    opacity: 0;
    visibility: hidden; }
}
