:root {
    --project-background-color: black;
}
.project{
  width: var(--app-width);
  height: var(--app-height);
  transform-style: preserve-3d;
  pointer-events: auto;
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);

  & .project-content{
    width: 80vw;
    height: var(--app-height);
    position: absolute;
    right: 10vw;
    overflow: hidden;

    animation: appear var(--container3dMovementTimeTransition) ease;

    & iframe{
      width: 100%;
      height:  100%;
      background-color: white;

      transition: opacity var(--container3dMovementTimeTransition) ease;
      overflow: scroll;
    }
    & iframe.iframe-visible{
      opacity: 1;
    }
  }

  & .project--content.fade-out {
      animation: disappear calc(var(--container3dMovementTimeTransition) / 2) ease forwards;
  }
}

& .project.project--empty{
    cursor: none;
    pointer-events: none;
}
          
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from { opacity: 1; }
  to { opacity: 0; }
}
