.project .project-menu{
  position: absolute;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
}

.project-menu-container-btn{
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  pointer-events: none;

  & button{
    border-style: none;
    background: none;
    color: black;
    margin-top: .5rem;
    pointer-events: auto;
    cursor: pointer;
    font-weight: 300;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

}

@media (max-width: 780px){
  .project-menu-container-btn{
    width: 20vw;

    & button{
      width: 20vw;
      height: 5dvh;
      font-size: .8rem;
    }
    width: 15vw;
  }
}
