.scene{
  width: var(--app-width);
  height: var(--app-height);
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
