* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    user-select: none;
}

:root {
    --background: black;
    background-blend-mode: multiply,multiply;
    --font-color: rgb(243, 243, 243);
    --font-color-hover: rgb(142, 142, 142);
    --app-height: 100vh;
    --app-width: 100vw;
    --cube-size-px: 250px;
    --container3dMovementTimeTransition: 1s;
    /* MODIFICAR TIMETRANSITION EN PROJECT SETTIMEOUT */
}

html, body {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: Arial, sans-serif;
    background: var(--background);
    user-select: none;
    color: var(--font-color);
}

html, body, .canvas {
    touch-action: none; /* Bloquea gestos táctiles como zoom o scroll. En .canvas no tiene efecto si no hay gestos. */
    overscroll-behavior: none; /* Evita el rebote de scroll en móviles. Solo se aplica en html y body. */
}

a{
    color: var(--font-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    z-index: 2;

    font-size: 1rem;
    font-family: "Syne Mono", monospace;
    pointer-events: none;
    letter-spacing: 1px;

    & .menu-item{
        height: 25px;
        cursor: pointer;
        pointer-events: auto;
        font-weight: bold;
        position: fixed;
        transition: transform 0.5s cubic-bezier(.37,.08,.17,1.47),
                    margin-left .5s cubic-bezier(.37,.08,.17,1.47),
                    font-size 0.5s cubic-bezier(.37,.08,.17,1.47);
        display: flex;
        align-items: center;

        &:hover{
            color:  var(--font-color-hover)
        }
    }
    & .menu-item-as-title{
        font-size: 2vw;
        color: var(--font-color-hover);
        margin-left: 20px
    }
    & .menu-item-about{
        transform: translate3d(2rem, -100px, 0) !important;
    }
    & .menu-item:nth-child(1) {
        transform: translate3d(2rem, 25px, 0);
    }
    & .menu-item:nth-child(2) {
        transform: translate3d(2rem, 50px, 0);
    }
    & .menu-item:nth-child(3) {
        transform: translate3d(2rem, 75px, 0);
    }
    & .menu-item:nth-child(4) {
        transform: translate3d(2rem, 100px, 0);
    }
    & #menu-about{
        transform: translate3d(83vw, 25px, 0);
        width: 15vw;
        text-align: right;
        display: block;
    }
    & #menu-about.menu-about-hidden{
        transform: translate3d(83vw, -25px,0) ;
    }
}

.title{
    width: 100vw;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 8vw;
    letter-spacing: 2px;
    height: fit-content;
    padding: 0;
    transition: font-size 1s ease, 
                transform 1s ease;
    cursor: pointer;
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-small{
    font-size: 4vw;
}
.title-hide{
    bottom: -100%;
}
.title-about{
    transform: translateY(-80vh);
    font-size: 5vw;
    transition: font-size 1s ease, transform 1s ease;

}

.canvas {
    width: 100vw;
    height: var(--app-height);
    perspective: 500px;
    transform-style: preserve-3d;
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    perspective: 500px;

    & .container3d {
        width: var(--app-width);
        height: var(--app-height);
        position: relative;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transition: transform var(--container3dMovementTimeTransition) ease; 
        pointer-events: none;
        touch-action: none;

        & .scene{
            width: var(--app-width);
            height: var(--app-height);
            position: absolute;
            transform-style: preserve-3d;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            pointer-events: none;
            
            & .project{
                width: var(--app-width);
                height: var(--app-height);
                transform-style: preserve-3d;
                pointer-events: auto;
                position: absolute;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.4);

                & .project--content{
                    width: 100vw;
                    height: var(--app-height); 
                    margin: 0 auto; 
                    overflow: hidden;
                    animation: appear var(--container3dMovementTimeTransition) ease;
                }
                & .project--content.fade-out {
                    animation: disappear calc(var(--container3dMovementTimeTransition) / 2) ease forwards;
                }
            }

            & .project.project--empty{
                cursor: none;
                pointer-events: none;
            }
        }
    }
}

.about{
    width: var(--app-width);
    height: 100dvh;


    position: fixed;
    top: 100dvh;

    font-family: "Cal Sans", sans-serif;
    font-size: 1.5rem;
    transition: top .8s ease; 

    padding-top: 20dvh;

    & .about-container{
        max-width: 50vw;
        height: 100%;
        margin: auto auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    & i{
        margin-left:1rem;
    }
}
.about-active{
    top: 0;
    transition: top 1s ease; 
}

.planos-extra {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    transform-style: preserve-3d;
}

.selectable {
    user-select:text;
}

@media (max-width: 780px) {
    .menu-main{
        font-size: 1rem;
 
        & .menu-item:nth-child(1) {
            transform: translate3d(.5rem, .5rem, 0);
        }
        & .menu-item:nth-child(2) {
             transform: translate3d(.5rem, 2rem, 0);           
        }
        & .menu-item:nth-child(3) {
            transform: translate3d(.5rem, 3.5rem, 0);
        }
        & .menu-item:nth-child(4) {
            transform: translate3d(.5rem, 5rem, 0);            
        }

        & #menu-about{
            transform: translate3d(83vw, .5rem, 0)
        }
        & .menu-item-about{
            transform: translate3d(.5rem, -2rem, 0) !important;
        }
        & #menu-about.menu-about-hidden{
            transform: translate3d(83vw, -2rem,0) ;
        }

        & .menu-item-as-title{
            font-size: 5.5vw;
            color: var(--font-color-hover);
            margin-left: 20px
        }
    }
    .title {
        font-size: 8.5dvw;
    }
    .title-hide{
        top: -100% !important;
    }
    .title-about{
        transform: translateY(-85dvh);
        font-size: 7.2dvw;
    }

    .about{
        font-size: 1rem;
        padding-top: 15dvh;
        height: 100dvh;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.4rem;

        & .about-container{
            max-width: 80vw;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5dvh;
        }
        & i{
            margin-left:1rem;
        }
    }
    .container3d {
        transition: transform 1s ease 
    }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from { opacity: 1; }
  to { opacity: 0; }
}