* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    user-select: none;
}

:root {
    --global-background: black;
    --project-background: rgb(235, 235, 235);
    --font-color-canvas: rgb(255, 255, 255);
    --font-color-project: black;
    --font-color-hover: rgb(142, 142, 142);
    --app-height: 100vh;
    --app-width: 100vw;
    --container3dMovementTimeTransition: 1s;
    
    /* MODIFICAR TIMETRANSITION EN PROJECT SETTIMEOUT */
}

html, body {
    height: var(--app-height);
    width: var(--app-width);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;

    background: var(--global-background);
    color: var(--font-color-canvas);
    font-family: "Poppins", sans-serif;
}

button{
    font-family: "Poppins", sans-serif;
}
html, body, .canvas {
    touch-action: auto; 
    overscroll-behavior: auto; 
}

a{
    color: var(--font-color-canvas);
    text-decoration: none;
}
ul{
    list-style: none;
}


